<div class="card auth-detailblock">
  <div
    class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0"
  >
    <h6 class="mb-0 fw-bold">Authentication Details</h6>
    <button class="btn btn-primary" type="button" (click)="openModal()">
      <i class="icofont-edit"></i>
    </button>
  </div>
  <div class="card-body">
    <div class="row g-3">
      <div class="col-12">
        <label class="form-label col-6 col-sm-5">Email :</label>
        <span
          ><strong>{{ userData.email }}</strong></span
        >
      </div>
      <div class="col-12">
        <label class="form-label col-6 col-sm-5">Last Login:</label>
        <span
          ><strong>{{ userData.lastLoginDevice }}</strong></span
        >
      </div>
      <div class="col-12">
        <label class="form-label col-6 col-sm-5">Last Password change:</label>
        <span
          ><strong>{{ userData.lastPasswordChange | date }}</strong></span
        >
      </div>
    </div>
  </div>
</div>

<!-- Change Authentication Modal-->
<ng-template #changeAuthenticationModal>
  <div class="modal-header">
    <h5 class="modal-title fw-bold" id="expeditLabel">Edit Authentication</h5>
    <button
      type="button"
      class="btn-close"
      (click)="closeModal()"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <div class="deadline-form">
      <form [formGroup]="changeAuthenticationForm">
        <div class="row g-3 mb-3">
          <div class="col-sm-12">
            <label for="txtEmail" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="txtEmail"
              name="email"
              formControlName="email"
            />
          </div>
          <div class="col-sm-12">
            <label for="txtOldPassword" class="form-label">Old Password</label>
            <input
              type="password"
              class="form-control"
              id="txtOldPassword"
              name="oldPassword"
              formControlName="oldPassword"
            />
          </div>
          <div class="col-sm-12">
            <label for="txtPassword" class="form-label">New Password</label>
            <input
              type="password"
              class="form-control"
              id="txtPassword"
              name="newPassword"
              formControlName="newPassword"
            />
          </div>
          <div class="col-sm-12">
            <label for="txtConfirmPassword" class="form-label"
              >Conform Password</label
            >
            <input
              type="text"
              class="form-control"
              id="txtConfirmPassword"
              name="confirmPassword"
              formControlName="confirmPassword"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">
      Done
    </button>
    <button type="button" class="btn btn-primary" (click)="onSubmit()">Save</button>
  </div>
</ng-template>
