<div class="card auth-detailblock">
    <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
        <h6 class="mb-0 fw-bold">Authentication Details</h6>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#authchange">
            <i class="icofont-edit"></i>
        </button>
    </div>
    <div class="card-body">
        <div class="row g-3">
            <div class="col-12">
                <label class="form-label col-6 col-sm-5">User Name :</label>
                <span><strong>Adrian007</strong></span>
            </div>
            <div class="col-12">
                <label class="form-label col-6 col-sm-5">Login Password :</label>
                <span><strong>Abc*******</strong></span>
            </div>
            <div class="col-12">
                <label class="form-label col-6 col-sm-5">Last Login:</label>
                <span><strong>128.456.89 (Apple) safari</strong></span>
            </div>
            <div class="col-12">
                <label class="form-label col-6 col-sm-5">Last Password change:</label>
                <span><strong>3 Month Ago</strong></span>
            </div>
        </div>
    </div>
</div>