<!-- main body area -->
<div class="main px-lg-4 px-md-4">
  <!-- Body: Body -->
  <div class="body d-flex py-3">
    <div class="container-xxl">
      <form [formGroup]="createCategoryForm" (ngSubmit)="onSubmit()">
        <div class="row align-items-center">
          <div class="border-0 mb-4">
            <div
              class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap"
            >
              <h3 class="fw-bold mb-0">Categories Add</h3>
              <button
                type="submit"
                class="btn btn-primary py-2 px-5 text-uppercase btn-set-task w-sm-100"
              >
                Save
              </button>
            </div>
          </div>
        </div>
        <!-- Row end  -->

        <div class="row g-3 mb-3">
          <div class="col-lg-4">
            <div class="sticky-lg-top">
              <div class="card mb-3">
                <div
                  class="card-header py-3 d-flex justify-content-between align-items-center bg-transparent border-bottom-0"
                >
                  <h6 class="m-0 fw-bold">Visibility Status</h6>
                </div>
                <div class="card-body">
                  <div class="form-check" *ngFor="let option of statusOptions">
                    <input
                      class="form-check-input"
                      type="radio"
                      [id]="'status-' + option.value"
                      [value]="option.value"
                      [formControlName]="'visibilityStatus'"
                    />
                    <label
                      class="form-check-label"
                      [for]="'status-' + option.value"
                      >{{ option.label }}</label
                    >
                  </div>
                </div>
              </div>
              <div class="card mb-3">
                <div
                  class="card-header py-3 d-flex justify-content-between align-items-center bg-transparent border-bottom-0"
                >
                  <h6 class="m-0 fw-bold">Publish Schedule</h6>
                </div>
                <div class="card-body">
                  <div class="row g-3 align-items-center">
                    <div class="col-md-12">
                      <label class="form-label">Publish Date</label>
                      <input
                        type="date"
                        class="form-control w-100"
                        name="publishDate"
                        formControlName="publishDate"
                      />
                    </div>
                    <div class="col-md-12">
                      <label class="form-label">Publish Time</label>
                      <input
                        type="time"
                        class="form-control w-100"
                        name="publishTime"
                        formControlName="publishTime"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3">
                <div class="card-body">
                  <label class="form-label">Parent category</label>
                  <select
                    class="form-select"
                    size="3"
                    name="parentCategory"
                    formControlName="parentCategory"
                    aria-label="size 3 select example"
                  >
                    <option value="0">-- Select Parent Category --</option>
                    @for (category of parentCategories; track $index) {
                    <option [value]="category.id">{{ category.name }}</option>
                    }
                  </select>
                </div>
              </div>
              <div class="card">
                <div class="card-header py-3 bg-transparent border-bottom-0">
                  <h6 class="m-0 fw-bold">Categories Image Upload</h6>
                </div>
                <div class="card-body">
                  <app-image-uploader
                    (onFileSelection)="onFileSelected($event)"
                  ></app-image-uploader>

                  <!-- <input
                  type="file"
                  id="dropify-event"
                  (change)="fileChangeEvent($event)"
                  data-default-file="assets/images/product/cropimg-upload.jpg"
                /> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="card mb-3">
              <div
                class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0"
              >
                <h6 class="mb-0 fw-bold">Basic information</h6>
              </div>
              <div class="card-body">
                <div class="row g-3 align-items-center">
                  <div class="col-md-6">
                    <label class="form-label">Name</label>
                    <input
                      type="text"
                      class="form-control"
                      name="name"
                      formControlName="name"
                    />
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">Page Title</label>
                    <input
                      type="text"
                      class="form-control"
                      name="pageTitle"
                      formControlName="pageTitle"
                    />
                  </div>
                  <div class="col-md-12">
                    <label class="form-label">Category Identifier URL</label>
                    <div class="input-group mb-3">
                      <span class="input-group-text">https://eBazar.com</span>
                      <input
                        type="text"
                        class="form-control"
                        name="urlIdentifier"
                        formControlName="urlIdentifier"
                      />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <label class="form-label">Category Description</label>
                    <!-- <div id="editor">
                      <h4>Please add Product Description here</h4>
                    </div> -->
                    <textarea
                      class="form-control"
                      name="description"
                      formControlName="description"
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
            <!-- <app-image-cropper></app-image-cropper> -->
          </div>
        </div>
        <!-- Row end  -->
      </form>
    </div>
  </div>
</div>
