<div class="card">
  <div class="card-header py-3 bg-transparent border-bottom-0">
    <h6 class="m-0 fw-bold">Cropped Images</h6>
    <small>If You Cropped Images Please Upload and cropped easily.</small>
  </div>
  <div class="card-body">
    <div class="row g-3 mb-3">
      <div class="col-xxl-12 col-xl-12 col-lg-12">
        <div class="img-container">
          <img
            #image
            id="image"
            src="assets/images/product/upload.png"
            class="img-responsive cropper-hidden"
            alt="Picture"
          /> 
        </div>
      </div>
      <div class="col-xxl-12 col-xl-12 col-lg-12">
        <div class="docs-preview clearfix"> 
          <div class="img-preview preview-lg"></div>
          <div class="img-preview preview-md"></div>
          <div class="img-preview preview-sm"></div>
          <div class="img-preview preview-xs"></div>
        </div>
        <div class="docs-data">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">X</span>
            </div>
            <input
              type="text"
              class="form-control"
              id="dataX"
              [(ngModel)]="cropData.x"
              readonly
            />
            <div class="input-group-append">
              <span class="input-group-text">PX</span>
            </div>
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Y</span>
            </div>
            <input
              type="text"
              class="form-control"
              id="dataY"
              [(ngModel)]="cropData.y"
              readonly
            />
            <div class="input-group-append">
              <span class="input-group-text">PX</span>
            </div>
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Width</span>
            </div>
            <input
              type="text"
              class="form-control"
              id="dataWidth"
              [(ngModel)]="cropData.width"
              readonly
            />
            <div class="input-group-append">
              <span class="input-group-text">PX</span>
            </div>
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Height</span>
            </div>
            <input
              type="text"
              class="form-control"
              id="dataHeight"
              [(ngModel)]="cropData.height"
              readonly
            />
            <div class="input-group-append">
              <span class="input-group-text">PX</span>
            </div>
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Rotate</span>
            </div>
            <input
              type="text"
              class="form-control"
              id="dataRotate"
              [(ngModel)]="cropData.rotate"
              readonly
            />
            <div class="input-group-append">
              <span class="input-group-text">Deg</span>
            </div>
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">ScaleX</span>
            </div>
            <input
              type="text"
              class="form-control"
              id="dataScaleX"
              [(ngModel)]="cropData.scaleX"
              readonly
            />
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">ScaleY</span>
            </div>
            <input
              type="text"
              class="form-control"
              id="dataScaleY"
              [(ngModel)]="cropData.scaleY"
              readonly
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row g-3">
      <div class="col-lg-8 col-md-12 docs-buttons">
        <button
          type="button"
          class="btn btn-sm btn-info"
          (click)="setDragMode('move')"
          title="Move"
        >
          <span
            class="docs-tooltip"
            data-bs-toggle="tooltip"
            title="setDragMode('move')"
          >
            <i class="icofont-drag1"></i>
          </span>
        </button>
        <button
          type="button"
          class="btn btn-sm btn-info"
          (click)="setDragMode('crop')"
          title="Crop"
        >
          <span
            class="docs-tooltip"
            data-bs-toggle="tooltip"
            title="setDragMode('crop')"
          >
            <i class="icofont-crop"></i>
          </span>
        </button>
        <button
          type="button"
          class="btn btn-sm btn-success"
          (click)="zoom(0.1)"
          title="Zoom In"
        >
          <span class="docs-tooltip" data-bs-toggle="tooltip" title="zoom(0.1)">
            <i class="icofont-ui-zoom-in"></i>
          </span>
        </button>
        <button
          type="button"
          class="btn btn-sm btn-success"
          (click)="zoom(-0.1)"
          title="Zoom Out"
        >
          <span
            class="docs-tooltip"
            data-bs-toggle="tooltip"
            title="zoom(-0.1)"
          >
            <i class="icofont-ui-zoom-out"></i>
          </span>
        </button>
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          (click)="move(-10, 0)"
          title="Move Left"
        >
          <span
            class="docs-tooltip"
            data-bs-toggle="tooltip"
            title="move(-10, 0)"
          >
            <i class="icofont-circled-left"></i>
          </span>
        </button>
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          (click)="move(10, 0)"
          title="Move Right"
        >
          <span
            class="docs-tooltip"
            data-bs-toggle="tooltip"
            title="move(10, 0)"
          >
            <i class="icofont-circled-right"></i>
          </span>
        </button>
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          (click)="move(0, -10)"
          title="Move Up"
        >
          <span
            class="docs-tooltip"
            data-bs-toggle="tooltip"
            title="move(0, -10)"
          >
            <i class="icofont-circled-up"></i>
          </span>
        </button>
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          (click)="move(0, 10)"
          title="Move Down"
        >
          <span
            class="docs-tooltip"
            data-bs-toggle="tooltip"
            title="move(0, 10)"
          >
            <i class="icofont-circled-down"></i>
          </span>
        </button>
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          (click)="rotate(-45)"
          title="Rotate Left"
        >
          <span
            class="docs-tooltip"
            data-bs-toggle="tooltip"
            title="rotate(-45)"
          >
            <i class="icofont-rotation"></i>
          </span>
        </button>
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          (click)="rotate(45)"
          title="Rotate Right"
        >
          <span
            class="docs-tooltip"
            data-bs-toggle="tooltip"
            title="rotate(45)"
          >
            <i class="icofont-rotation"></i>
          </span>
        </button>
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          (click)="scaleX(-1)"
          title="Flip Horizontal"
        >
          <span
            class="docs-tooltip"
            data-bs-toggle="tooltip"
            title="scaleX(-1)"
          >
            <i class="icofont-exchange"></i>
          </span>
        </button>
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          (click)="scaleY(-1)"
          title="Flip Vertical"
        >
          <span
            class="docs-tooltip"
            data-bs-toggle="tooltip"
            title="scaleY(-1)"
          >
            <i class="icofont-expand-alt"></i>
          </span>
        </button>
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          (click)="crop()"
          title="Crop"
        >
          <span class="docs-tooltip" data-bs-toggle="tooltip" title="crop()">
            <i class="icofont-checked"></i>
          </span>
        </button>
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          (click)="clear()"
          title="Clear"
        >
          <span class="docs-tooltip" data-bs-toggle="tooltip" title="clear()">
            <i class="icofont-ui-delete"></i>
          </span>
        </button>
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          (click)="disable()"
          title="Disable"
        >
          <span class="docs-tooltip" data-bs-toggle="tooltip" title="disable()">
            <i class="icofont-lock"></i>
          </span>
        </button>
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          (click)="enable()"
          title="Enable"
        >
          <span class="docs-tooltip" data-bs-toggle="tooltip" title="enable()">
            <i class="icofont-unlock"></i>
          </span>
        </button>
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          (click)="reset()"
          title="Reset"
        >
          <span class="docs-tooltip" data-bs-toggle="tooltip" title="reset()">
            <i class="icofont-refresh"></i>
          </span>
        </button>
        <label
          class="btn btn-sm btn-secondary btn-upload"
          for="inputImage"
          title="Upload image file"
        >
          <input
            type="file"
            class="sr-only"
            id="inputImage"
            name="file"
            accept="image/*"
            (change)="onFileChange($event)"
          />
          <span
            class="docs-tooltip"
            data-bs-toggle="tooltip"
            title="Import image with Blob URLs"
          >
            <i class="icofont-upload"></i>
          </span>
        </label>
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          (click)="destroy()"
          title="Destroy"
        >
          <span class="docs-tooltip" data-bs-toggle="tooltip" title="destroy()">
            <i class="icofont-power"></i>
          </span>
        </button>
        <button
          type="button"
          class="btn btn-sm btn-danger"
          (click)="getCroppedCanvas()"
          data-bs-toggle="modal"
          data-bs-target="#getCroppedCanvasModal"
        >
          <span
            class="docs-tooltip"
            data-bs-toggle="tooltip"
            title="getCroppedCanvas()"
            >Get Cropped Canvas</span
          >
        </button>
        <button
          type="button"
          class="btn btn-sm btn-danger"
          (click)="getCroppedCanvas({ width: 160, height: 90 })"
          data-bs-toggle="modal"
          data-bs-target="#getCroppedCanvasModal"
        >
          <span
            class="docs-tooltip"
            data-bs-toggle="tooltip"
            title="getCroppedCanvas({ width: 160, height: 90 })"
            >160×90</span
          >
        </button>
        <button
          type="button"
          class="btn btn-sm btn-danger"
          (click)="getCroppedCanvas({ width: 320, height: 180 })"
          data-bs-toggle="modal"
          data-bs-target="#getCroppedCanvasModal"
        >
          <span
            class="docs-tooltip"
            data-bs-toggle="tooltip"
            title="getCroppedCanvas({ width: 320, height: 180 })"
            >320×180</span
          >
        </button>
        <button type="button" class="btn btn-secondary" (click)="getData()">
          Get Data
        </button>
        <button type="button" class="btn btn-secondary" (click)="setData()">
          Set Data
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="getContainerData()"
        >
          Get Container Data
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="getImageData()"
        >
          Get Image Data
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="getCanvasData()"
        >
          Get Canvas Data
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="setCanvasData()"
        >
          Set Canvas Data
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="getCropBoxData()"
        >
          Get Crop Box Data
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="setCropBoxData()"
        >
          Set Crop Box Data
        </button>
        <button type="button" class="btn btn-secondary" (click)="moveTo(0)">
          0,0
        </button>
        <button type="button" class="btn btn-secondary" (click)="zoomTo(1)">
          100%
        </button>
        <button type="button" class="btn btn-secondary" (click)="rotateTo(180)">
          180°
        </button>
        <input
          type="text"
          class="form-control"
          id="putData"
          [(ngModel)]="putData"
          placeholder="Get data to here or set data with this value"
        />
      </div>
      <div class="col-lg-4 col-md-12 docs-toggles">
        <div class="btn-group btn-group-justified" data-toggle="buttons">
          <label
            class="btn btn-secondary"
            [class.active]="aspectRatio === 16 / 9"
          >
            <input
              type="radio"
              class="sr-only"
              id="aspectRatio0"
              name="aspectRatio"
              value="1.7777777777777777"
              (change)="setAspectRatio(16 / 9)"
            />
            <span
              class="docs-tooltip"
              data-bs-toggle="tooltip"
              title="aspectRatio: 16 / 9"
              >16:9</span
            >
          </label>
          <label
            class="btn btn-secondary"
            [class.active]="aspectRatio === 4 / 3"
          >
            <input
              type="radio"
              class="sr-only"
              id="aspectRatio1"
              name="aspectRatio"
              value="1.3333333333333333"
              (change)="setAspectRatio(4 / 3)"
            />
            <span
              class="docs-tooltip"
              data-bs-toggle="tooltip"
              title="aspectRatio: 4 / 3"
              >4:3</span
            >
          </label>
          <label class="btn btn-secondary" [class.active]="aspectRatio === 1">
            <input
              type="radio"
              class="sr-only"
              id="aspectRatio2"
              name="aspectRatio"
              value="1"
              (change)="setAspectRatio(1)"
            />
            <span
              class="docs-tooltip"
              data-bs-toggle="tooltip"
              title="aspectRatio: 1 / 1"
              >1:1</span
            >
          </label>
          <label
            class="btn btn-secondary"
            [class.active]="aspectRatio === 2 / 3"
          >
            <input
              type="radio"
              class="sr-only"
              id="aspectRatio3"
              name="aspectRatio"
              value="0.6666666666666666"
              (change)="setAspectRatio(2 / 3)"
            />
            <span
              class="docs-tooltip"
              data-bs-toggle="tooltip"
              title="aspectRatio: 2 / 3"
              >2:3</span
            >
          </label>
          <label
            class="btn btn-secondary"
            [class.active]="aspectRatio === null"
          >
            <input
              type="radio"
              class="sr-only"
              id="aspectRatio4"
              name="aspectRatio"
              value="NaN"
              (change)="setAspectRatio(null)"
            />
            <span
              class="docs-tooltip"
              data-bs-toggle="tooltip"
              title="aspectRatio: NaN"
              >Free</span
            >
          </label>
        </div>
        <div class="btn-group btn-group-justified" data-toggle="buttons">
          <label class="btn btn-secondary" [class.active]="viewMode === 0">
            <input
              type="radio"
              class="sr-only"
              id="viewMode0"
              name="viewMode"
              value="0"
              (change)="setViewMode(0)"
            />
            <span
              class="docs-tooltip"
              data-bs-toggle="tooltip"
              title="View Mode 0"
              >VM0</span
            >
          </label>
          <label class="btn btn-secondary" [class.active]="viewMode === 1">
            <input
              type="radio"
              class="sr-only"
              id="viewMode1"
              name="viewMode"
              value="1"
              (change)="setViewMode(1)"
            />
            <span
              class="docs-tooltip"
              data-bs-toggle="tooltip"
              title="View Mode 1"
              >VM1</span
            >
          </label>
          <label class="btn btn-secondary" [class.active]="viewMode === 2">
            <input
              type="radio"
              class="sr-only"
              id="viewMode2"
              name="viewMode"
              value="2"
              (change)="setViewMode(2)"
            />
            <span
              class="docs-tooltip"
              data-bs-toggle="tooltip"
              title="View Mode 2"
              >VM2</span
            >
          </label>
          <label class="btn btn-secondary" [class.active]="viewMode === 3">
            <input
              type="radio"
              class="sr-only"
              id="viewMode3"
              name="viewMode"
              value="3"
              (change)="setViewMode(3)"
            />
            <span
              class="docs-tooltip"
              data-bs-toggle="tooltip"
              title="View Mode 3"
              >VM3</span
            >
          </label>
        </div>
        <div class="dropdown dropup docs-options">
          <button
            type="button"
            class="btn btn-success btn-block dropdown-toggle"
            id="toggleOptions"
            data-bs-toggle="dropdown"
            aria-expanded="true"
          >
            Toggle Options <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="toggleOptions" role="menu">
            <li role="presentation">
              <label class="checkbox-inline">
                <input
                  type="checkbox"
                  name="responsive"
                  [(ngModel)]="options.responsive"
                  (change)="updateOptions()"
                />responsive
              </label>
            </li>
            <li role="presentation">
              <label class="checkbox-inline">
                <input
                  type="checkbox"
                  name="restore"
                  [(ngModel)]="options.restore"
                  (change)="updateOptions()"
                />restore
              </label>
            </li>
            <li role="presentation">
              <label class="checkbox-inline">
                <input
                  type="checkbox"
                  name="checkCrossOrigin"
                  [(ngModel)]="options.checkCrossOrigin"
                  (change)="updateOptions()"
                />checkCrossOrigin
              </label>
            </li>
            <li role="presentation">
              <label class="checkbox-inline">
                <input
                  type="checkbox"
                  name="checkOrientation"
                  [(ngModel)]="options.checkOrientation"
                  (change)="updateOptions()"
                />checkOrientation
              </label>
            </li>
            <li role="presentation">
              <label class="checkbox-inline">
                <input
                  type="checkbox"
                  name="modal"
                  [(ngModel)]="options.modal"
                  (change)="updateOptions()"
                />modal
              </label>
            </li>
            <li role="presentation">
              <label class="checkbox-inline">
                <input
                  type="checkbox"
                  name="guides"
                  [(ngModel)]="options.guides"
                  (change)="updateOptions()"
                />guides
              </label>
            </li>
            <li role="presentation">
              <label class="checkbox-inline">
                <input
                  type="checkbox"
                  name="center"
                  [(ngModel)]="options.center"
                  (change)="updateOptions()"
                />center
              </label>
            </li>
            <li role="presentation">
              <label class="checkbox-inline">
                <input
                  type="checkbox"
                  name="highlight"
                  [(ngModel)]="options.highlight"
                  (change)="updateOptions()"
                />highlight
              </label>
            </li>
            <li role="presentation">
              <label class="checkbox-inline">
                <input
                  type="checkbox"
                  name="background"
                  [(ngModel)]="options.background"
                  (change)="updateOptions()"
                />background
              </label>
            </li>
            <li role="presentation">
              <label class="checkbox-inline">
                <input
                  type="checkbox"
                  name="autoCrop"
                  [(ngModel)]="options.autoCrop"
                  (change)="updateOptions()"
                />autoCrop
              </label>
            </li>
            <li role="presentation">
              <label class="checkbox-inline">
                <input
                  type="checkbox"
                  name="movable"
                  [(ngModel)]="options.movable"
                  (change)="updateOptions()"
                />movable
              </label>
            </li>
            <li role="presentation">
              <label class="checkbox-inline">
                <input
                  type="checkbox"
                  name="rotatable"
                  [(ngModel)]="options.rotatable"
                  (change)="updateOptions()"
                />rotatable
              </label>
            </li>
            <li role="presentation">
              <label class="checkbox-inline">
                <input
                  type="checkbox"
                  name="scalable"
                  [(ngModel)]="options.scalable"
                  (change)="updateOptions()"
                />scalable
              </label>
            </li>
            <li role="presentation">
              <label class="checkbox-inline">
                <input
                  type="checkbox"
                  name="zoomable"
                  [(ngModel)]="options.zoomable"
                  (change)="updateOptions()"
                />zoomable
              </label>
            </li>
            <li role="presentation">
              <label class="checkbox-inline">
                <input
                  type="checkbox"
                  name="zoomOnTouch"
                  [(ngModel)]="options.zoomOnTouch"
                  (change)="updateOptions()"
                />zoomOnTouch
              </label>
            </li>
            <li role="presentation">
              <label class="checkbox-inline">
                <input
                  type="checkbox"
                  name="zoomOnWheel"
                  [(ngModel)]="options.zoomOnWheel"
                  (change)="updateOptions()"
                />zoomOnWheel
              </label>
            </li>
            <li role="presentation">
              <label class="checkbox-inline">
                <input
                  type="checkbox"
                  name="cropBoxMovable"
                  [(ngModel)]="options.cropBoxMovable"
                  (change)="updateOptions()"
                />cropBoxMovable
              </label>
            </li>
            <li role="presentation">
              <label class="checkbox-inline">
                <input
                  type="checkbox"
                  name="cropBoxResizable"
                  [(ngModel)]="options.cropBoxResizable"
                  (change)="updateOptions()"
                />cropBoxResizable
              </label>
            </li>
            <li role="presentation">
              <label class="checkbox-inline">
                <input
                  type="checkbox"
                  name="toggleDragModeOnDblclick"
                  [(ngModel)]="options.toggleDragModeOnDblclick"
                  (change)="updateOptions()"
                />toggleDragModeOnDblclick
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal for Cropped Canvas -->
<div
  class="modal fade"
  id="getCroppedCanvasModal"
  tabindex="-1"
  aria-labelledby="getCroppedCanvasModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="getCroppedCanvasModalLabel">
          Cropped Image
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          [src]="croppedImage"
          class="img-fluid"
          alt="Cropped Image"
          *ngIf="croppedImage"
        />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="downloadImage()">
          Download
        </button>
      </div>
    </div>
  </div>
</div>
