<div class="card mb-3">
    <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
        <h6 class="mb-0 fw-bold">Payment Method</h6>
    </div>
    <div class="card-body">
        <div class="payment-info">
            <h5 class="payment-name text-muted">
                <i class="icofont-visa-alt fs-3"></i> Visa *******7548
            </h5>
            <span>Next billing charged $48</span>
            <br />
            <em class="text-muted">Autopay on July 20, 2021</em>
            <a href="javascript:void(0);" class="edit-payment-info text-secondary">Edit Payment Info</a>
        </div>
        <p class="mt-3">
            <a href="javascript:void(0);" class="btn btn-primary">
                Add Payment Info</a>
        </p>
    </div>
</div>