<!-- Body: Body -->
<div class="body d-flex py-3">
  <div class="container-xxl">
    <div class="row align-items-center">
      <div class="border-0 mb-4">
        <div
          class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap"
        >
          <h3 class="fw-bold mb-0">Account Profile</h3>
        </div>
      </div>
    </div>
    <!-- Row end  -->
    <div class="row g-3">
      @if(userProfileData){
      <div class="col-xl-4 col-lg-5 col-md-12">
        <app-profile
          [userProfileData]="userProfileData"
          (onProfileUpdate)="onProfileUpdate($event)"
        ></app-profile>
      </div>
      <div class="col-xl-8 col-lg-7 col-md-12">
        <app-profile-settings
          [userProfileData]="userProfileData"
          [userObservable]="userObservable$"
          (onProfileSettingsUpdate)="onProfileSettingsUpdate($event)"
        ></app-profile-settings>
        <app-auth-settings
          [userObservable]="userObservable$"
          (onLoginDetailUpdate)="onLoginDetailUpdate($event)"
        ></app-auth-settings>
      </div>
      }
    </div>
  </div>
</div>
