<div class="card">
    <div class="card-body">
        <h5>Notification preferences</h5>
        <span class="text-muted">Control all our newsletter and email related notifications to
            your email</span>
        <div class="mt-4">
            <div class="form-check form-switch mt-2">
                <input class="form-check-input" type="checkbox" id="np-Newsletter" />
                <label class="form-check-label" for="np-Newsletter">Activity Notifications</label>
            </div>
            <div class="form-check form-switch mt-2">
                <input class="form-check-input" type="checkbox" id="np-Notifications" />
                <label class="form-check-label" for="np-Notifications">Comment Notifications</label>
            </div>
            <div class="form-check form-switch mt-2">
                <input class="form-check-input" type="checkbox" id="np-Preferences" checked="" />
                <label class="form-check-label" for="np-Preferences">Email Preferences</label>
            </div>
        </div>
    </div>
</div>